@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");


/* font-family: "Montserrat", sans-serif; */
/* font-family: "Outfit", sans-serif; */

html {
  scroll-behavior: smooth;
}

* {
  padding: 6px;
  font-family: "Outfit", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom, #141420, #0b0c10);
}

.about-hero {
  color: white;
}
